/* https://dribbble.com/shots/15855392-NASA-Mobile-APP-Concept */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(15, 15, 15), rgb(12, 1, 77)) no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}
body {
  margin: 5%;
  color: rgb(163, 163, 157);
  align-items: center;
}
.navBar {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 10%;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(12, 1, 77), rgb(15, 15, 15)) no-repeat;
  color: aqua;
}

.Container {
  padding-top: 15%;
  padding-bottom: 10px;
}
.card {
  border: 1px solid beige;
  border-radius: 5%;
  padding: 5%;
  margin-bottom: 5px;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.button {
  /* background: rgb(49, 49, 49); */
  color: aqua;
  margin: 2px;
}
.featureContainer {
  border-radius: 3%;
  display: flex;
  justify-content: space-around;
}
.feature {
  /* background-color: blueviolet; */
  border-radius: 20%;
  color: green;
}
.warning {
  color: red;
}
